CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_ESPTOOLPY_FLASHSIZE_8MB_SUPPORT=y
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=y
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_FULL=y
CONFIG_DEVICE_WIFI_SSID=""
CONFIG_DEVICE_WIFI_PASSWORD=""
CONFIG_DEVICE_HUB_BASE_URL="https://www.wangyutang.cn/devices/api"
CONFIG_DEVICE_HUB_TOKEN=""
CONFIG_DEVICE_ID="esp32-s3-walle"
